*{
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding:34px;
}

.inputGeneral{
    font-size: 13px;
    border-radius: 5px;
    padding: 8px 21px;
    border: 1px solid #ccc;
    outline: 0;
    min-width: 400px;
    margin-bottom: 34px;
}

h1{
  text-align: left;
}

.gif{
  position: fixed;
  bottom: 13px;
  right: 13px;
  min-width: 233px;
  min-height: 233px;
}